/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Full page background */
body {
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(135deg, #4facfe, #00f2fe);
  height: 100vh;
  background-image: url(https://tse3.mm.bing.net/th/id/OIP.5xrtOzQlMaxXxVaikLWbcwHaEK?cb=defcache2&defcache=1&rs=1&pid=ImgDetMain&o=7&rm=3);
  background-position: 0%;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Main container */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Form card */
.form-container {
  background:transparent;
  padding: 35px;
  width: 400px;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  animation: fadeIn 0.5s ease-in-out;
}

/* Form heading */
.form-container h2 {
  text-align: center;
  margin-bottom: 25px;
  color: blue;
  font-weight: bold;
}

/* Label styling */
.form-label {
  font-weight: 600;
  color:rgba(63, 242, 203, 0.492);
}

/* Input styling */
.form-control {
  height: 45px;
  border-radius: 8px;
  border: 1px solid #ccc;
  padding: 10px;
  transition: 0.3s;
}

/* Input focus effect */
.form-control:focus {
  border-color: #4facfe;
  box-shadow: 0 0 8px rgba(79, 172, 254, 0.4);
}

/* Button styling */
.btn-submit {
  width: 100%;
  height: 45px;
  background: linear-gradient(135deg, #4facfe, #00f2fe);
  border: none;
  border-radius: 8px;
  color: white;
  font-size: 16px;
  font-weight: bold;
  margin-top: 15px;
  transition: 0.3s;
  cursor: pointer;
}

.btn-submit:hover {
  background: linear-gradient(135deg, #00f2fe, #4facfe);
  transform: scale(1.03);
}

/* Animation */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
